<br>
<h3>Hello, <%= current_user.first_name %>!</h3>
<br>
<a href="/shoes">Go to Products</a>
<br>
<h4>Sell a Product</h4>
<div class="row">
    <div class="col-3">
        <form action="/products" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="first_name">Item Name:</label>
                <input class="form-control" type="text" name="product[name]" id="name">
            </div>
            
            <div class="form-group">
                <label for="last_name">Item Amount:</label>
                <input class="form-control" type="text" name="product[amount]" id="amount" placeholder="Numbers only">
            </div>
        
            <input class="btn btn-outline-success" type="submit" value="Sell Product">
        </form>
    </div>
</div>
<br>

<h6>Your products that are not yet sold:</h6>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Product</th>
            <th>Posted Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% if @user_products %>
            <% @user_products.each do |product| %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.created_at.strftime("%a. %B %e, %Y @ %I:%M%P") %></td>
                    <td>$<%= product.amount %>.00</td>
                    <td><a href="/products/<%= product.id %>" data-method="delete">Remove</a></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

<br>

<h6>Your sold products:</h6>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Product</th>
            <th>Date Bought</th>
            <th>Buyer</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<br>

<h6>Your purchased products:</h6>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Product</th>
            <th>Date Bought</th>
            <th>Seller</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>